{% include base_path %}

<div class="page__footer-follow">
  <ul class="social-icons">
    <li><strong>Follow:</strong></li>
    <li><a href="https://github.com/jordicondom"><i class="fab fa-github" aria-hidden="true"></i> GitHub</a></li>
    <li><a href="https://bsky.app/profile/jordicondom.bsky.social"><i class="fas fa-link" aria-hidden="true"></i> Bluesky</a></li>
  </ul>
</div>

<div class="page__footer-copyright" style="margin-top: 10px;">
  &copy; {{ site.time | date: '%Y' }} Jordi Guillem Condom Tibau.
</div>
